header{
    background-color: rgb(4, 255, 0);
    color:white;
    padding:20px;
    border-radius: 5px;
    text-align: center;
}
section{
    background-color: white;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,1);
    color:black;
    padding:20px;
    border-radius: 5px;
    margin: 20px;
}